<h1>Report Stick</h1>
<h4>A fully functional, plug and play, reporting server on a stick.</h4>


<%= link_to "Home", dashboards_home_path%>
<%= link_to "Report(s)", dashboards_report_path%>


<ol>
  <li>Computer</li>
  <li>Smart TV</li>
  <li>Projector</li>
</ol>

<h3>Functions as a full-service Dashboard, Reporting or Audit device.</h3>
<h4>
  Connects to any HDMI Display Device <br/>
  No software to install <br/>
  Requires no programming <br/>
  User-friendly <br/>
  <span>Produces presentation-style reports and graphs</span>
</h4>
